<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> 


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" type="text/css" href="stylesheets/css/booking.css">


   <script type="text/javascript">
       function test() {

  var element = document.getElementById("time").value;
  
  if (element == "") {
  alert("Please Enter Time");
    return false;  
  }
  else {
  
  // get system local time
  var d = new Date();
  var m = d.getMinutes();
  var h = d.getHours();
  if(h == '0') {h = 24}
  
  var currentTime = h+"."+m;
  console.log(currentTime);
 
  // get input time
  var time = element.split(":");
  var hour = time[0];
  if(hour == '00') {hour = 24}
  var min = time[1];
  
  var inputTime = hour+"."+min;
  console.log(inputTime);
  
  var totalTime = currentTime - inputTime;
  console.log(totalTime);
  if(totalTime<0)
        return true;
else{
        alert("Insert valid time");
        return false;
}
}

}
   </script>

</head>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <img class="logo" src="images/logos.png" height="40"> EatRepeat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto"> 
<li class="nav-item active">
<a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/reservations">Reservation <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item dropdown nav-item active"> <span class="sr-only">(current)</span>
  <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  {{User}}  </a>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#"> Profile</a></li>
    <li><a class="dropdown-item" href="/"> Signout </a></li>
    </ul>
</li>

    </ul>
  </div>
</nav>

<br><br>




<body class="hm-gradient">






    <form method="post" action="/getdata" name="resdata">
    <main>
        
        <!--MDB Forms-->
        <div class="container mt-4">

            <!-- Grid row -->
            <div class="row">
                <div class="col-md-3 mb-4">
                  </div>
                <!-- Grid column -->
                <div class="col-md-6 mb-4">
                    <div class="card indigo form-white">
                        <div class="card-body">
                            <h3 class="text-center white-text py-3"><i class="fa fa-user"></i> Reservation</h3>
                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-user prefix white-text"></i>
                                <input type="text" id="defaultForm-pass1" class="form-control white-text" placeholder="Name" name="Name">
                            
                            </div>
                            <div class="md-form">
                                <i class="fa fa-birthday-cake prefix white-text"></i>
                                <input type="number" id="defaultForm-pass1" class="form-control" placeholder="Seats" name="seats">
                                
                            </div>
                             <div class="md-form">
                                <i class="fa fa-calendar-check-o prefix white-text"></i>
                                <input type="date" id="defaultForm-pass1" class="form-control" placeholder="Date" name="date" min="{{date}}">
                                
                            </div>
                            <div class="md-form">
                                <i class="far fa-clock prefix white-text"></i>
                                <input type="time" id="time" class="form-control" placeholder="Time" name="time" onblur="test()">
                               
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix white-text"></i>
                                <input type="text" id="defaultForm-email1" class="form-control" placeholder="Email" name="email">
                           
                            </div>
                            <div>
                               <p style="text-align: center;color: white;"> {{status}} </p>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-white waves-effect waves-light">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
          </div>
        </main>
      </form>
      </body>
    






