<html >
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<!-- <script  src="js/index.js"></script> -->

  
</head>

<body background="images/bg2.jpg">
  <script type="text/javascript">
    function validateForm() {
        var name = document.forms["myForm"]["name"].value;
        var username = document.forms["myForm"]["username"].value;
        

        var email = document.forms["myForm"]["email"].value;
        
        var password = document.forms["myForm"]["password"].value;
        

        var city = document.forms["myForm"]["city"].value;
        
        var phno = document.forms["myForm"]["phno"].value;
        if (name==""||username == "" || email == "" || password == "" || city == "" || phno == "") {
            alert("Please fill all the fields");
                
            return false;
    }
}
</script>
<script src="javascripts/ind.js"></script>


  
<div class="container">
  <div class="info">
    <!-- <h1>Login Form</h1> -->
    <!-- <span>Made with <i class="fa fa-heart"></i> by <a href="http://andytran.me">Andy Tran</a></span> -->
  </div>
</div>

<div class="form">
  <center>Sign Up!!</center>
  <br>
  <div class="thumbnail"><img src="images/logos.png"/></div>
  <form class="login-form" action="/signup" method="post" name="myForm" onsubmit="return validateForm()">

    <input type="text" placeholder="Name" name="name" id="name" autofocus />
    <input type="text" placeholder="Username" name="username" id="username"/>
    <input type="password" placeholder="Password" name="password" id="password"/> 
    <input type="text" placeholder="Email address" name="email" id="email"/>
    <input type="text" placeholder="Enter City" name="city" id="semester">
    <input type="text" placeholder="Enter phone no." name="phno" id="phone">
    <button type="submit">create</button>
    <p class="message"> {{Status}}</p>
    <p class="message">Already registered? <a href="/login">Sign In</a></p>
  </form>
</div>